.height-50 {
    height: 50px;
}

.height-75 {
    height: 75px;
}

.h-200 {
    height: 150px;
}

.height-500 {
    height: 500px;
}

.width-800 {
    width: 800px;
}

.width-400 {
    width: 400px;
}


.width-1000 {
    width: 1000px;
}


.f-25 {
    font-size: 25px;
}
.mb-15 {
    margin-bottom: 15px;
}

.mt-100 {
    margin-top: 100px;
}

.m-10 {
  margin: 10px;
}

.card-layout{
  .box-shadow(0px 0px 5px #888888);
   padding: 4px;
   background-color: #fff;
   .border-radius(8px);
   .col {
        padding: 4%;
        text-align: center;
   }
   .top {
        border-bottom: 1px solid #e0e0e0;
   }
}
.clickable {
   cursor: pointer;
    &:hover {
        background-color: #E9E9E9;
    }
}