<div class="row">
  <div class="center-block m-h-500 w-800 position-relative">
    {{#link-to 'discover.study' class="no-link"}}
    <div class="col-md-3 f-25 card-layout p-50 m-10 text-align-center">
      <i class="icon glyphicon glyphicon-hdd"></i>
    </div>
    {{/link-to}} {{#link-to 'discover.multiplechoice' class="no-link"}}
    <div class="col-md-3 f-25 card-layout p-50 m-10 text-align-center">
      <i class="icon glyphicon glyphicon-th"></i>
    </div>
    {{/link-to}} {{#link-to 'discover.dragndrop' class="no-link"}}
    <div class="col-md-3 f-25 card-layout p-50 m-10 text-align-center">
      <i class="icon glyphicon glyphicon-link"></i>

    </div>

    {{/link-to}} {{#link-to 'discover.reversechoice' class="no-link"}}
    <div class="col-md-3 f-25 card-layout p-50 m-10 text-align-center">
      <i class="icon glyphicon glyphicon-refresh"></i>

    </div>
    {{/link-to}} {{#link-to 'discover.hot-target' class="no-link"}}
    <div class="col-md-3 f-25 card-layout p-50 m-10 text-align-center">

      <i class="icon glyphicon glyphicon-eye-open"></i>

    </div>
    {{/link-to}}
  </div>
</div>
