<div class="row">
    <div class="center-block card-layout m-h-500 w-600 position-relative">
        {{choice-card options=options question=word}}
        {{partial "layout/navigation"}}
    </div>
</div>



