<div class="row">
    <div class="center-block card-layout m-h-500 w-600 position-relative">
        <div class='col top text-align-center'>
            <h1>{{word.name}}</h1>
        </div>
        <div class='col top text-primary f-25'>
            {{word.meaning}}
        </div>
        <div class='col bottom text-info f-25'>
            {{#each word.synonyms}}
                &nbsp{{this}},
            {{/each}}
        </div>
        {{partial "layout/navigation"}}
    </div>
</div>

