<div class="row center-block card-layout height-500 width-400">
    <div class='col top'>
        <h3>{{word.name}}</h3>
    </div>
    <div class='col bottom'>
        {{word.meaning}}
    </div>
</div>
{{partial "layout/navigation"}}

