<div id="study-tmpl">
    <div class="row center-block height-500 width-800">
        {{flash-card word=word}}
    </div>
    <div class="row center-block height-50 width-800 navigation">
        <button type="button" class="btn btn-link f-25" {{action 'previous'}}>Previous</button>
        <button type="button" class="btn btn-link f-25" {{action 'next'}}>Next</button>
    </div>
</div>
