<button type="button" class="btn btn-link f-25 left-nav" {{action 'previous'}}><i class="glyphicon glyphicon-chevron-left"></i></button>
<button type="button" class="btn btn-link f-25 right-nav" {{action 'next'}}><i class="glyphicon glyphicon-chevron-right"></i></button>

<!--
<div class="row center-block w-400">
    <button type="button" class="btn btn-link f-25" {{action 'previous'}}>Previous</button>
    <button type="button" class="btn btn-link f-25" {{action 'next'}}>Next</button>
</div>
-->