<div class="row center-block width-400">
    <button type="button" class="btn btn-link f-25" {{action 'previous'}}>Previous</button>
    <button type="button" class="btn btn-link f-25" {{action 'next'}}>Next</button>
</div>
