<nav class="sidebar">
  <ul>
    <!-- Dashboards -->
    <li>{{#link-to 'discover.study' class="no-link"}}<i class="icon glyphicon glyphicon-hdd"></i>{{/link-to}}</li>
    <li>{{#link-to 'discover.multiplechoice' class="no-link"}}<i class="icon glyphicon glyphicon-th"></i>{{/link-to}}</li>
    <li>{{#link-to 'discover.dragndrop' class="no-link"}}<i class="icon glyphicon glyphicon-link">{{/link-to}}</i></li>    
    <li>{{#link-to 'discover.reversechoice' class="no-link"}}<i class="icon glyphicon glyphicon-refresh">{{/link-to}}</i></li>
    <li>{{#link-to 'discover.hot-target' class="no-link"}}<i class="icon glyphicon glyphicon-eye-open">{{/link-to}}</i></li>
    <li>{{#link-to 'wordlist' class="no-link"}}<i class="icon glyphicon glyphicon-home"></i>{{/link-to}}</li>
  </ul>
</nav>
